fastapi                 # Modern web framework for building APIs
bcrypt                  # Cryptographic library for password hashing
pydantic                # Data validation and parsing library
sqlalchemy              # SQL toolkit and Object-Relational Mapping (ORM) library
passlib                 # Comprehensive password hashing library
python-jwt              # JSON Web Token implementation in Python
starlette               # Lightweight ASGI framework/toolkit
Jinja2                  # Template engine for Python
requests                # HTTP library for making requests
httpx                   # Fully featured HTTP client for Python
pyjwt                   # JSON Web Token library
python-multipart        # Streaming multipart parser for Python
sshtunnel               # Library for creating SSH tunnels
paramiko                # SSHv2 protocol library for Python
ansible                 # IT automation library
vncdotool               # Python library for controlling VNC servers
aiofiles                # Asynchronous file operations
aiohttp                 # Asynchronous HTTP client/server for asyncio and Python
#aiohttp-jinja2          # Jinja2 template renderer for aiohttp

# We need tessaract-ocr in order to interpret the ESXi console output
# TODO: Find a way to install this without having to install the entire tesseract-ocr package
#tesserocr               # Python wrapper for tesseract-ocr

# BMC packages
redfish                 # Python library for Redfish and Swordfish APIs
pyipmi                  # Python library for IPMI

# SNMP packages
pysnmp                  # Python SNMP library
#pysnmp-mibs             # MIBs for pysnmp
#pysnmp-apps             # Applications for pysnmp
#pysnmp-hlapi            # High-level API for pysnmp
#pysnmp-smi              # SMI for pysnmp
#pysnmp-smi-mibs         # MIBs for pysnmp-smi

#pysmi                   # Python SMI library
#pysmi-codegen           # Code generator for pysmi
#pysmi-compiler          # Compiler for pysmi
#pysmi-mibs              # MIBs for pysmi
#pysmi-reader            # Reader for pysmi
#pysmi-searcher          # Searcher for pysmi
#pysmi-smparser          # SM parser for pysmi
#pysmi-writer            # Writer for pysmi

# Zabbix packages for monitoring <-- Build failed on Python 3.8, 3.9, 3.10
#zabbix-api              # Python library for Zabbix API
#zabbix-api-scripts      # Python scripts for Zabbix API
#zabbix-api-templates    # Python templates for Zabbix API
#zabbix-api-extensions   # Python extensions for Zabbix API
#zabbix-api-configuration# Python configuration for Zabbix API
#zabbix-api-mibs         # Python MIBs for Zabbix API
#zabbix-api-translation  # Python translation for Zabbix API
#zabbix-api-variation    # Python variation for Zabbix API

# SNMP simulator packages
#snmpsim                 # SNMP simulator
#snmpsim-data            # SNMP simulator data
#snmpsim-recording       # SNMP simulator recording
#snmpsim-logging         # SNMP simulator logging
#snmpsim-configuration   # SNMP simulator configuration
#snmpsim-mibs            # SNMP simulator MIBs
#snmpsim-templates       # SNMP simulator templates
#snmpsim-extensions      # SNMP simulator extensions
#snmpsim-translation     # SNMP simulator translation
#snmpsim-variation       # SNMP simulator variation


# Investerigate if this is better than pyipmi or not
#pyghmi                  # Python library for IPMI and Redfish

# Hardware Vendor packages
omsdk                   # OpenManage Python SDK
ntnx-api                # Python library for Nutanix REST API
junos-eznc              # Junos PyEZ library
pylxca                  # Lenovo XClarity Administrator Python SDK
git+https://github.com/HewlettPackard/oneview-python.git # HPE OneView Python SDK

#pyhpeoneview            # HPE OneView Python SDK <--- Failing on Python 3.8, 3.9, 3.10
#pyhpecw7                # HPE OneView Python SDK <--- Failing on Python 3.8, 3.9, 3.10
#pyhpecfm                # HPE Composable Fabric Manager Python SDK
#pyhpeimc                # HPE Intelligent Management Center Python SDK
#pyhpe3parclient         # HPE 3PAR Python SDK
#pyhpedockerplugin       # HPE Docker Plugin Python SDK
#pyhpeimc                # HPE Intelligent Management Center Python SDK
#pyhpelefthandclient     # HPE LeftHand Python SDK
#pyhperaid               # HPE RAID Python SDK
#pyhpeswitch             # HPE Switch Python SDK
#pyhpeucs                # HPE UCS Python SDK
#pyhpeuxapi              # HPE UX Python SDK
#pyhpevsa                # HPE VSA Python SDK
#pyhpevse                # HPE VSE Python SDK
#pyhpevvol               # HPE VVOL Python SDK
#pyhpewlm                # HPE Workload Manager Python SDK
#pyhpewsp                # HPE Workspace Python SDK


# Virtualization packages
pywinrm                 # Windows Remote Management (WinRM) library for Python
#pywin32                 # Windows Management Instrumentation (WMI) library for Python <--- Windows only

pyVmomi                 # VMware vSphere API Python bindings
openstacksdk            # Python SDK for OpenStack APIs

# Cloud packages
azure-mgmt-compute      # Microsoft Azure Compute Management Client Library
azure-mgmt-storage      # Microsoft Azure Storage Management Client Library
google-cloud-compute    # Google Compute Engine API Client Library
google-cloud-storage    # Google Cloud Storage API Client Library
boto3                   # Amazon Web Services (AWS) SDK for Python
botocore                # Low-level, data-driven core of boto 3
apache-libcloud         # Python library for multiple cloud provider APIs
rackspacesdk            # Python library for Rackspace Cloud

# OpenStack packages
#python-glanceclient     # OpenStack Image API Client Library
#python-keystoneclient   # OpenStack Identity API Client Library
#python-neutronclient    # OpenStack Networking API Client Library
#python-novaclient       # OpenStack Compute API Client Library
#python-swiftclient      # OpenStack Object Storage API Client Library
#python-ironicclient     # OpenStack Bare Metal Provisioning API Client Library
#python-heatclient       # OpenStack Orchestration API Client Library
#python-zaqarclient      # OpenStack Message Queue API Client Library
#python-designateclient  # OpenStack DNS API Client Library
#python-magnumclient     # OpenStack Container Orchestration API Client Library
#pankoclient             # OpenStack Telemetry API Client Library
#python-saharaclient     # OpenStack Data Processing API Client Library
#python-tackerclient     # OpenStack NFV Orchestration API Client Library

# Failed packages
#pycurl                 # Python bindings to libcurl
#ovirt-engine-sdk-python # Python SDK for oVirt Engine API
#pyrax                  # Python library for Rackspace Cloud <--- Failing on Python 3.10 Depricated in favor of openstacksdk and rackspacesdk
#python-ceilometerclient # OpenStack Telemetry API Client Library   <-- Failing
#python-troveclient      # OpenStack Database API Client Library    <-- Failing