fastapi                 # Modern web framework for building APIs
bcrypt                  # Cryptographic library for password hashing
pydantic                # Data validation and parsing library
sqlalchemy              # SQL toolkit and Object-Relational Mapping (ORM) library
passlib                 # Comprehensive password hashing library
python-jwt              # JSON Web Token implementation in Python
starlette               # Lightweight ASGI framework/toolkit
Jinja2                  # Template engine for Python
requests                # HTTP library for making requests
httpx                   # Fully featured HTTP client for Python
pyjwt                   # JSON Web Token library
python-multipart        # Streaming multipart parser for Python
sshtunnel               # Library for creating SSH tunnels
paramiko                # SSHv2 protocol library for Python
ansible                 # IT automation library
vncdotool               # Python library for controlling VNC servers

# BMC packages
redfish                 # Python library for Redfish and Swordfish APIs
pyipmi                  # Python library for IPMI

# Hardware Vendor packages
omsdk                   # OpenManage Python SDK
ntnx-api                # Python library for Nutanix REST API
junos-eznc              # Junos PyEZ library
pylxca                  # Lenovo XClarity Administrator Python SDK

# Virtualization packages
pywinrm                 # Windows Remote Management (WinRM) library for Python
#pywin32                 # Windows Management Instrumentation (WMI) library for Python <--- Windows only

pyVmomi                 # VMware vSphere API Python bindings
openstacksdk            # Python SDK for OpenStack APIs

# Cloud packages
azure-mgmt-compute      # Microsoft Azure Compute Management Client Library
azure-mgmt-storage      # Microsoft Azure Storage Management Client Library
google-cloud-compute    # Google Compute Engine API Client Library
google-cloud-storage    # Google Cloud Storage API Client Library
boto3                   # Amazon Web Services (AWS) SDK for Python
botocore                # Low-level, data-driven core of boto 3
apache-libcloud         # Python library for multiple cloud provider APIs
rackspacesdk            # Python library for Rackspace Cloud

# OpenStack packages
#python-glanceclient     # OpenStack Image API Client Library
#python-keystoneclient   # OpenStack Identity API Client Library
#python-neutronclient    # OpenStack Networking API Client Library
#python-novaclient       # OpenStack Compute API Client Library
#python-swiftclient      # OpenStack Object Storage API Client Library
#python-ironicclient     # OpenStack Bare Metal Provisioning API Client Library
#python-heatclient       # OpenStack Orchestration API Client Library
#python-zaqarclient      # OpenStack Message Queue API Client Library
#python-designateclient  # OpenStack DNS API Client Library
#python-magnumclient     # OpenStack Container Orchestration API Client Library
#pankoclient             # OpenStack Telemetry API Client Library
#python-saharaclient     # OpenStack Data Processing API Client Library
#python-tackerclient     # OpenStack NFV Orchestration API Client Library

# Failed packages
#pycurl                 # Python bindings to libcurl
#ovirt-engine-sdk-python # Python SDK for oVirt Engine API
#pyrax                  # Python library for Rackspace Cloud <--- Failing on Python 3.10 Depricated in favor of openstacksdk and rackspacesdk
#python-ceilometerclient # OpenStack Telemetry API Client Library   <-- Failing
#python-troveclient      # OpenStack Database API Client Library    <-- Failing