body{margin-top:20px;
    color: #bcd0f7;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../static/images/bg2.png") no-repeat center center fixed;
    background-size: cover; 
    background-color: #1A233A;
}

/* Navbar */

.logo {
    height: 30px;
    margin-right: 10px;
  }
  
.navbar {
    background-color: #1A233A;
    border: 1px solid #596280;
}

.navbar .navbar-brand {
    color: #bcd0f7;
    font-size: .825rem;
}

.navbar .navbar-nav .nav-link {
    color: #bcd0f7;
    font-size: .825rem;
    transition: color 0.3s;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    color: #596280;
}

.navbar .navbar-nav .dropdown-toggle {
    color: #bcd0f7;
    font-size: .825rem;
    transition: color 0.3s;
}

.navbar .navbar-nav .dropdown-toggle:hover, .navbar .navbar-nav .dropdown-toggle:focus {
    color: #596280;
}

.navbar .dropdown-menu {
    background-color: #1A233A;
    border: 1px solid #596280;
}

.navbar .dropdown-item {
    color: #bcd0f7;
    font-size: .825rem;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
    background-color: #596280;
    color: #1A233A;
}

/* Search form */
.custom-search {
    background-color: #1A233A;
    border: 1px solid #596280;
    color: #bcd0f7;
    border-radius: 2px;
}

.custom-search:focus {
    background-color: #272E48;
    border-color: #596280;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn-outline-light {
    border-color: #596280;
    color: #bcd0f7;
}

.btn-outline-light:hover {
    background-color: #596280;
    border-color: #596280;
    color: #fff;
}


/* Custom styling for the nav-tabs */
.nav-tabs .nav-link {
    background-color: #1A233A;
    color: #bcd0f7;
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    transition: background-color 0.3s, color 0.3s;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color: #596280;
    color: #1A233A;
    border-color: #596280;
}

.nav-tabs .nav-link.active {
    background-color: #596280;
    color: #1A233A;
    border-color: #596280;
}

.nav-tabs {
    border-bottom: 1px solid #596280;
}

/* Custom styling for the nav-pills */
.flex-column.nav-pills {
    background-color: #1A233A;
    border: 1px solid #596280;
}

.flex-column.nav-pills .nav-link {
    color: #bcd0f7;
    font-size: .825rem;
    transition: color 0.3s;
}

.flex-column.nav-pills .nav-link:hover, .flex-column.nav-pills .nav-link:focus {
    color: #596280;
}

.flex-column.nav-pills .dropdown-toggle {
    color: #bcd0f7;
    font-size: .825rem;
    transition: color 0.3s;
}

.flex-column.nav-pills .dropdown-toggle:hover, .flex-column.nav-pills .dropdown-toggle:focus {
    color: #596280;
}

.flex-column.nav-pills .nav-link.active {
    background-color: #596280;
    color: #fff;
}

/* Custom styling for the dropdown */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1A233A;
}


.flex-column.nav-pills .dropdown-menu {
    background-color: #1A233A;
    border: 1px solid #596280;
}

.flex-column.nav-pills .dropdown-item {
    color: #bcd0f7;
    font-size: .825rem;
    transition: background-color 0.3s, color 0.3s;
}

.flex-column.nav-pills .dropdown-item:hover, .flex-column.nav-pills .dropdown-item:focus {
    background-color: #596280;
    color: #1A233A;
}

/* Custom styling for table */
.table.table-dark {
    background-color: #1A233A;
    border-collapse: separate;
    border-spacing: 0 0.1rem;
}

.table.table-dark thead {
    background-color: #272E48;
}

.table.table-dark thead th {
    color: #bcd0f7;
    font-size: .825rem;
    border-bottom: 1px solid #596280;
}

.table.table-dark tbody {
    background-color: #1A233A;
}

.table.table-dark tbody tr {
    border-bottom: 1px solid #596280;
}

.table.table-dark tbody tr:nth-child(even) {
    background-color: #272E48;
}

.table.table-dark tbody tr:hover {
    background-color: #596280;
    cursor: pointer;
}

.table.table-dark tbody td {
    color: #bcd0f7;
    font-size: .825rem;
    padding: 0.5rem;
}

/* Custom styling for dropdowns */
.dropdown {
    display: inline-block;
}

.dropdown .btn-secondary {
    background-color: #272E48;
    border: 1px solid #596280;
    color: #bcd0f7;
    font-size: .825rem;
}

.dropdown .btn-secondary:hover {
    background-color: #596280;
    border-color: #596280;
}

.dropdown .dropdown-menu {
    background-color: #1A233A;
    border: 1px solid #596280;
    border-radius: 0;
    font-size: .825rem;
}

.dropdown .dropdown-menu a {
    color: #bcd0f7;
}

.dropdown .dropdown-menu a:hover {
    background-color: #596280;
    color: #fff;
}

.dropdown .dropdown-menu a i {
    margin-right: 0.5rem;
}

/* Custom styling for the list-group */
.list-group-item {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}


/* Custom styling for the buttons */
.btn {
    background-color: #1A233A;
    color: #bcd0f7;
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, .btn:focus {
    background-color: #596280;
    color: #1A233A;
}

/* Custom styling for the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #272E48;
    color: #bcd0f7;
    border-top: 1px solid #596280;
    
}

.footer-toggle {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.footer-toggle i {
    margin-right: 0.5rem;
}

.footer-content {
    max-height: 200px;
    overflow-y: auto;
    padding: 1rem;
}

/* Custom styling for the event log in the footer */
.event-log ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event-log li {
    margin-bottom: 0.5rem;
}

/* Icons */

.full-width {
    width: 100%;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 500px; /* Set the maximum height for the card */
    overflow-y: auto; /* Add a scrollbar when the content exceeds the maximum height */
    padding: 1rem;
}

.icon-item :hover {
    background-color: #596280;
    border-radius: 10px;
    cursor: pointer;
}

.icon-item {
    flex-basis: calc(16.666% - 10px); /* 6 items per row with some space for margins */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #1A233A;
    border: solid 1px #bcd0f7;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.icon-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 aspect ratio */
}

.icon-item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.icon-item i {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.icon-item p {
    margin-top: 10px;
}

/* Custom styling for the brand logo */

.brand-logo-image-container {

    width: 25%; 
    padding-bottom: 25%; 
    position: relative;
    background-color: #1A233A;
    border: solid 1px #596280;
    border-radius: 10px;
    padding: 10px;
}

.brand-logo-image {
    
    aspect-ratio: 1 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;

}


/* Custom styling for the side bar */

.sidebar {
    overflow-y: auto;
    margin-bottom: 50px;
    height: fit-content;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    color: #bcd0f7;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar ul ul {
    padding-left: 20px;
}

.sidebar ul ul li {
    border-bottom: none;
}


/* Custom styling for the main content */

.progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    position: relative;
}
  
.progress-bar {
    background-color: #4caf50;
    width: 0%;
    height: 30px;
    border-radius: 5px;
}
  
.progress-bar-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 30px;
}
  
  
